<h3>Users</h3>
<a class="btn btn-primary" [routerLink]="['AddUser']">Add User</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="#user of users;" >
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td><a class="glyphicon glyphicon-edit" style="text-decoration: none;" [routerLink]="['EditUser',{id:user.id}]"></a></td>
            <td><i class="glyphicon glyphicon-remove clickable" (click)="delete(user)"></i></td>
        </tr>
    </tbody>
</table>